/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* Navigation menu */
#navbar{
    align-items: center;
    display: flex; 
  flex-wrap: wrap;   
    position: sticky; 
    top: 0px;
    /* y positon relative hmne kvl navbar ko backrougnd fix krne ko diya h */
}
#navbar::before{
    content: "";;
    /* background-color: rgb(44 193 22 / 90%); */
background-color: rgb(0, 0, 0);
    position: absolute;
    /* background: url("img/bg.jpg") no-repeat center center/cover; */
    height: 13vh;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: -1;
    opacity: 0.424;
}

/* LOGO OF NAVIGATION  */
#logo{
    margin: 9px 16px;
   width: 3rem;
   height: 3rem;    

}
#logo img{
    height: 43px;
    border-radius: 49rem 48rem;
    padding: 3px;
}

/* LOGO OTHER */

.home{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;    
}
.home li{
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 2px -2px 1px red;  
}

.home li a{

    /* extra */
display: block;
    border-radius: 30px;

    text-decoration: none;
    color: white;
    padding: 0px 1.6rem;
    transition: color 1s ease-in 0s ;   
}
.home li a:hover{
       color: black;
        background-color: white;
    
}
/* Navigation ends  */

/*  now Home part */

#home{
    margin: 0rem auto;
    /* height: 275px; */

height: 467px;

    padding: 1rem 1rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* position: relative;  y likhne se kvl apni jgh le rha h  */
}

/* for background image */
#home::before{
    content: "";;
    background: url("img/background/bg.jpg") no-repeat center center/cover;
    position: absolute;
    /* height: 550px; */
    height: 619px;

    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: -1;
    opacity: 0.957619;
    
    padding: 0rem 0px 1rem 0px;
}

.heading{
    padding: 12px;
    font-family: cursive;
    font-size: 2rem;
    text-shadow: 2px 2px 0px rgb(219, 155, 36);
}

.para{
    padding: 6x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    /* font-size: 1.3rem; */
   padding: 0.5rem;
   color: rgb(0, 0, 0);
}
.btn{
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 10px;
    padding: 8px 15px;
    font-style: oblique;
    font-weight: 800;
    font-family: monospace;
    cursor: pointer;
    background-color: pink;
}
.btn:hover{
    background-color: coral;
   
}

/*Services*/
#Services{
  z-index: -1;;
   height: 100%; 
    background: linear-gradient(45deg ,#0e0d0e03 ,#ef1414);
    /* color: rgb(45, 223, 0); */
}
#Services h1{
    text-align: center;
    margin:0rem 0rem 1rem 0rem;
    /* padding: 1.3rem; */

}
#service_provide{
    margin: 0px;
    display: flex;
}
#service_provide .box{
/* height: 20vh; */
    margin: 40px 30px;
   padding: 20px;
    border: 2px solid brown;
    border-radius: 30px;
}
#service_provide .box img{
   /* height: 25vh; */
   height: 125px;
   display: block;
   margin: auto;

}

#service_provide .box .heading_inside{
text-align: center;
padding: 5px;
margin: 1px;
}
.box img:hover
{
    transform: scale(1.081);
}
.box p{
  text-align: center;
}
.box:hover{
    transform: scale(1.1);
    /* transform: skewX(4deg); */
   
}


/* Client Section */
#client_section{
    /* height:370px; */
    position: relative;
}
#client_section::before{
    content: " ";
    position: absolute;
    background: url("img/background/client.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.694;
}
#client_section h1{
    text-align: center;
    /* margin:5rem 0rem 1rem 0rem; */
    /* padding: 1.3rem; */

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2px; */
}
#clients .client_name{
    /* border: 2px solid rgb(199, 27, 199); */
    padding: 2px;
    margin: 1rem;
    border-radius: 2rem;
}
#clients .client_name img{
    /* border: 2px solid black; */
    padding: 7px 2px;
    margin: 2px;
    border-radius: 3rem;
    height:9rem;
}
#clients .client_name img:hover{
    transform: scale(1.1);
}

/* Contact form  */
#contact h1{
    text-align: center;
    margin:0rem 0rem 1rem 0rem;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url("img/contact/contact.jpg")no-repeat center center/cover;
}

#contact_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}


#contact_box input,#contact_box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.4rem;
}
#contact_box form{
    width: 50%;
}
#contact_box label{
    font-size: 1.4rem;
    font-style: oblique;
    font-family: cursive;
}
#contact_box .form_group button{
    font-size: 1.4rem;
    font-style: oblique;
    font-family: cursive;
    margin: auto;
    display: block;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}
#contact_box .form_group{
    color: #ff0000;
}
#contact_box .form_group button:hover{
    color: #ff0000;
    background-color: antiquewhite;
   
}
/* footer */
footer{
    background-color: black;
    color: white;
    padding: 5px;
}
footer .heading{
    text-align: center;
    font-size: 1rem;
    padding: 2px;
    text-shadow: 1px 1px 0px rgb(219, 36, 91);

}