/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}

/* Navigation menu */
#navbar{
    align-items: center;
    display: flex; 
  flex-wrap: wrap;   
    position: relative; 
    /* y positon relative hmne kvl navbar ko backrougnd fix krne ko diya h */
}
#navbar::before{
    content: "";;
    /* background-color: rgb(44 193 22 / 90%); */
background-color: rgb(0, 0, 0);
    position: absolute;
    /* background: url("img/bg.jpg") no-repeat center center/cover; */
    height: 30vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.424;
}

/* LOGO OF NAVIGATION  */
#logo{
    margin: 9px 16px;
   width: 3rem;
   height: 3rem;    

}
#logo img{
      height: 42px;
   border-radius: 22rem 57rem; 
}

/* LOGO OTHER */

.home{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;    
}
.home li{
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 2px -2px 1px red;  
}

.home li a{

    /* extra */
display: block;
    border-radius: 30px;

    text-decoration: none;
    color: white;
    padding: 0px 1.6rem;
    transition: color 1s ease-in 0s ;   
}
.home li a:hover{
       color: black;
        background-color: white;
    
}
/* Navigation ends  */

/*  now Home part */

#home{
    margin: 0rem auto;
    height: 275px;
    padding: 1rem 1rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* position: relative;  y likhne se kvl apni jgh le rha h  */
}

/* for background image */
#home::before{
    content: "";;
    background: url("img/background/bg.jpg") no-repeat center center/cover;
    position: absolute;
    height: 88vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.957619;
    
    padding: 0rem 0px 1rem 0px;
}

.heading{
    padding: 12px;
    font-family: cursive;
    font-size: 2rem;
    text-shadow: 2px 2px 0px rgb(219, 155, 36);
}

.para{
    padding: 6x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    /* font-size: 1.3rem; */
   padding: 0.5rem;
   color: rgb(0, 0, 0);
}
.btn{
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 10px;
    padding: 8px 15px;
    font-style: oblique;
    font-weight: 800;
    font-family: monospace;
    cursor: pointer;
    background-color: pink;
}
.btn:hover{
    background-color: coral;
   
}

/*Services*/
.Services h1{
    text-align: center;
    margin:11rem 0rem 6rem 0rem;
    /* padding: 1.3rem; */

}
#service_provide{
    margin: 2px;
    display: flex;
}
#service_provide .box{
   margin: 0px 20px;
   padding: 20px;
    border: 2px solid brown;
}
#service_provide .box img{
   /* height: 25vh; */
   height: 150px;
   display: block;
   margin: auto;

}